.env
.env.*
.phpunit.cache
.phpunit.result.cache
.git
.gitignore
.codex
docs
dumps
node_modules
public/build
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
